<div>
    <p 
    <% if(title=="Home") { %>
        class="test"
    <% } %>> <a href="/">Home</a></p>
    <p 
    <% if(title=="About") { %>
        class="test"
    <% } %>><a href="/about">About</a></p>
    <p><a href="/test">Test</a></p>
</div>